<%- include("partials/start.ejs") -%>

<section id="page">

    <header class="header_styles" id="header_background"></header>
    <header class="header_styles" id="header_container">
        <div id="index">
            <a href="#home_page">Home</a>
            <a href="#about_container">About</a>
            <a href="#skills_page">Skills</a>
            <a href="#projects_page">Projects</a>
            <a href="#contact_page">Contact</a>
        </div>
    </header>

    <%- include("sections/home.ejs") -%>

    <%- include("sections/about.ejs") -%>

    <%- include("sections/skills.ejs") -%>

    <%- include("sections/projects.ejs") -%>

    <%- include("sections/contact.ejs") -%>
    
</section>



<script src="/javascripts/move_about_title.js"></script>

<script src="/javascripts/start_animation.js"></script>

<script src="/javascripts/header_animation.js"></script>

<script src="/javascripts/stackable_skill_cards.js"></script>

<script src="/javascripts/3d_image.js"></script>

<script src="/javascripts/refresh.js"></script>

<%- include("partials/end.ejs") -%>